@import 'btn';
@import 'header';
@import 'templateImg';


.nav-links{
    width: 50%;
}

.nav-links-ul{
    justify-content: space-evenly;
}

.nav-link-li{
    list-style: none;
    color: #70C2AA;
}

.center{
    text-align: center;
}

.resumeImg {
    width: 35%;
}
  
  .container {
    margin: 10% auto;
    padding: 80px 0;
    text-align: center;
  }
  

  
