.btn{
    padding: 7px;
    border-radius: 5px;
    min-width: 100px;
    border: none;
    background: linear-gradient(45deg, aqua);

}

.white{
    border: 2px solid aqua;
    background: white;
    color: black;
}

.started{
    border: none;
    min-width: 180px;
    background: #3385ff;
 }